body {
  --color-primary : #ade8f4;
  --color-primary-dark : #00205B;
  --color-error : #d00000;
  --color-success : #81b29a;
  --border-radius : 6px;

  margin : 0;
  display : flex;
  align-items : center;
  justify-content : center;
  font-size : 24px;
  background : var(--color-primary);
}

.container {
  width : 400px;
  max-width : 400px;
  margin : 2rem;
  padding : 2rem;
  box-shadow : 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius : var(--border-radius);
  background : #FFFFFF;
}

.change-information-container {
  align-items : flex;
}

.form--hidden {
  display : none;
}

.container, .form__input, .form__button {
  font : 300 1rem "Gotham", sans-serif;
  margin-bottom : 10px;
  margin-top : 10px;
}

.form__button {
    margin-bottom : 10rem;
}

.form > *:first-child {
  margin-top : 0;
}

.form > *:last-child {
  margin-bottom : 0;
}

.form__title {
  margin-bottom : 2rem;
  text-align : center;
}

.form__message {
  text-align : center;
  margin-bottom : 1rem;
}

.form__message--success {
  color : var(--color-success);
}

.form__message--error {
  color : var(--color-error);
}

.form__input-group {
  margin-bottom : 1rem;
}

.form__input {
  display : block;
  width : 100%;
  padding : 1rem;
  box-sizing : border-box;
  border-radius : var(--border-radius);
  border : 1px solid var(--color-primary-dark);
  outline : none;
  background : var(--color-primary);
  transition : background 0.2s, border-color 0.2s;
}

.form__input:focus {
  border-color : var(--color-primary);
  background : #FFFFFF
}

.form__input--error {
  color : var(--color-error);
  border-color : var(--color-error);
}

.form__input-error-message {
  margin-top : 0.5rem;
  color : var(--color-error)
}

.form__button {
  width : 100%;
  padding : 1rem 2rem;
  font-weight : bold;
  font-size : 1.1rem;
  outline : none;
  border : none;
  cursor : pointer;
  border-radius : var(--border-radius);
  background : var(--color-primary);
}

.form__button:hover {
  background : var(--color-primary-dark);
}

.form__button:active {
  transform : scale(0.95);
}

.form__text {
  text-align : center;
}

.form__link {
  text-decoration : none;
  cursor : pointer;
}

.form__link:hover {
  text-decoration : underline;
}

.icon-button {
  position : relative;
  display : flex;
  align-items : center;
  justify-content : center;
  width : 75px;
  height : 75px;
  font-size : 48px;
  border : none;
  color : var(--color-primary-dark);
  background : #FFFFFF;
  border-radius : 50%;
  box-shadow : 0 0 40px rgba(0, 0, 0, 0.2);
  margin : 6px;
}

.icon-button:hover {
  width : 90px;
  height : 90px;
  cursor : pointer;
  background : #a9a9a9;
}

.icon-button:active {
  width : 90px;
  height : 90px;
  cursor : pointer;
  background : #a9a900;
}

.icon-button__badge {
  position : absolute;
  align-items : center;
  justify-content : center;
  top : 50px;
  right : 0px;
  font-size : 20px;
  width : 25px;
  height : 25px;
  background : red;
  color : #FFFFFF;
  border-radius : 100%;
  box-shadow : 0 0 40px rgba(0, 0, 0, 0.2);
}

.banner {
  font : 4rem "Gotham", sans-serif;
  background : none;
  text-align : center;
  align-items : center;
  justify-content : center;
}

.dining {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.dining-group-heading {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccc;
}

.dining-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}

.dining-item {
  display: flex;
}

.dining-item-text {
  flex-grow: 1;
}

.dining-item-heading {
  display : inline;
  justify-content: space-between;
  margin: 0;
}

.dining-item-name {
  margin-right: 1.5em;
}

.dining-item-description {
  line-height: 1.6;
}

@media screen and (min-width: 992px) {
  .dining {
    font-size: 16px;
  }

  .dining-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .dining-item-image {
    width: 125px;
    height: 125px;
  }
}

.dormdash-menu-buttons{
  display : block;
  position: fixed;
  top: 25%;
  left: 10%;
  right: 0;
  width : 90px;
  height : 400px;
}

.dining-menu-button {
  display : flex;
  position : flex;
  align-items : center;
  justify-content : center;
  height : 40px;
  width : 100%;
  font-size : 18px;
  border : none;
  color : var(--color-primary-dark);
  background : #FFFFFF;
  box-shadow : 0 0 40px rgba(0, 0, 0, 0.2);
  margin : 6px;
}

.dining-menu-button:hover {
  cursor : pointer;
  background : #a9a9a9;
}

.extra-customer-buttons {
  display : block;
  position: fixed;
  top: 70%;
  left: 10%;
  right: 0;
  width : 90px;
  height : 200px;
}

input[type = radio] {
  visibility : hidden;
}

.radio-input-label {
  display : flex;
  border-radius : var(--border-radius);
  box-shadow : 0 0 5px rgba(0, 0, 0, 0.25);
  padding : 4px 6px;
  font-size : 14px;
  font : 300 1rem "Gotham", sans-serif;
  color : #FFFFFF;
  background : #a9a9a9;
  cursor : pointer;
  transition : background 0.2s;
}

.radio-input-label:not(:last-of-type) {
  border-right : 5px solid #0000000;
}

.form-change-buttons:checked + .radio-input-label {
  background : #000000;
}

a {
  text-decoration : none;
}

.menu {
  font-family: 300 1rem "Gotham", sans-serif;
  font-size: 14px;
}

.menu-group-heading {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccc;
}

.menu-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}

.menu-item {
  display: flex;
}

.menu-item-image {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
}

.menu-item-text {
  flex-grow: 1;
}

.menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menu-item-name {
  margin-right: 1.5em;
}

.menu-item-description {
  line-height: 1.6;
}

@media screen and (min-width: 992px) {
  .menu {
    font-size: 16px;
  }

  .menu-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-item-image {
    width: 125px;
    height: 125px;
  }
}

.menu-item button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.menu-container {
  width : 600px;
  max-width : 600px;
  margin : 2rem;
  padding : 2rem;
  box-shadow : 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius : var(--border-radius);
  background : #FFFFFF;
}

.order-history-container {
  display : block;
  width : 600px;
  max-width : 600px;
  margin : 2rem;
  padding : 2rem;
  box-shadow : 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius : var(--border-history-radius);
  background : #FFFFFF;
  font : 300 1rem "Gotham", sans-serif;
}

.completed-icon {
  float : right;
  color : #378805;
}

.in-progress-icon {
  float : right;
  color : #FFE800;
}

.cancelled-icon {
  float : right;
  color : #FF0000;
}

.order-history-table {
  width : 100%;
  margin : auto;
  display : table;
}

.order-history-row {
  text-align: center;
  vertical-align: middle;
}

.order-history-total-cost {
  margin-right: 4.75rem;
}

.order-history-payment-method {
  margin-right: 4.75rem;
}
.order-history-delivery-time {
  margin-right: 4.75rem;
}

.order-history-delivery-method {
  margin-right: 4.75rem;
}


.complete-history {
  display : flex;
  flex-direction: column;
  font-family: 300 1rem "Gotham", sans-serif;
}

.order-history-group-heading {
  margin: 0;
  padding-bottom: 1em;
}

.order-history-group-status-subheading {
  margin: 0;
  padding-bottom: 1em;
}

.order-history-group-location-subheading {
  margin: 0;
  padding-top : 1em;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccc;
}

.order-history-group {
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}

.order-metadata {
  display :inline-flex;
  justify-content: right;
  margin-left: auto;
  margin-right: 0;
}

.expiration_info {
  margin-right: 2px;
  margin-left : 5px;
}

.payment-change-buttons, .time-change-buttons {
  display : flex;
  box-sizing : border-box;
}

.payment-change-buttons:checked + .radio-input-label {
  background : #000000;
}


.time-change-buttons:checked + .radio-input-label {
  background : #000000;
}

.shopping-cart-container {
  display : block;
  width : 600px;
  max-width : 600px;
  margin : 2rem;
  padding : 2rem;
  box-shadow : 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius : var(--bshopping-cart-radius);
  background : #FFFFFF;
  font : 300 1rem "Gotham", sans-serif;
}

.shopping-cart-table {
  width : 100%;
  margin : auto;
  display : table;
}

.shopping-cart-row {
  text-align: center;
  vertical-align: middle;
}

.shopping-cart-total-cost {
  margin-right: 4.75rem;
}

.shopping-cart-payment-method {
  margin-right: 4.75rem;
}
.shopping-cart-delivery-time {
  margin-right: 4.75rem;
}

.shopping-cart-delivery-method {
  margin-right: 4.75rem;
}


.complete-history {
  display : flex;
  flex-direction: column;
  font-family: 300 1rem "Gotham", sans-serif;
}

.shopping-cart-group-heading {
  margin: 0;
  padding-bottom: 1em;
}

.shopping-cart-group-status-subheading {
  margin: 0;
  padding-bottom: 1em;
}

.shopping-cart-group-location-subheading {
  margin: 0;
  padding-top : 1em;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccc;
}

.shopping-cart-group {
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}

.order-metadata {
  display :inline-flex;
  justify-content: right;
  margin-left: auto;
  margin-right: 0;
}
